<div id="attr-panel">
    <h2 class="inspector-title">{{selectedObject.properties.label}}</h2>

	<div class="inspector-content">
        <div class="row">
		    <label for="type">Type:</label>
		    <!-- <a id="type" [href]="selectedObject.properties.uri">{{selectedObject.properties.type}}</a> -->
		    <span>{{selectedObject.properties.type}}</span>
        </div>

        <div class="row">
            <label for="uri">URI:</label>
            <span *ngIf="getObjectUrl(selectedObject).indexOf('georegistry') !== -1">{{selectedObject.properties.uri}}</span>
            <a *ngIf="getObjectUrl(selectedObject).indexOf('georegistry') === -1" id="uri" [href]="getObjectUrl(selectedObject)">{{getUsaceUri(selectedObject)}}</a>
        </div>
	</div>
</div>