#graph-container {
    background-color: white;
}

#graph-main {
    position: relative;

    // ng prime's tab panel has some sort of animation which causes us to slowly change height and glitch out
    height: 50dvh;
}



div {
    width: 100%;
    height: 100%;
}