<div class="chat-container">
  <div *ngIf="loading" class="spinner-overlay"><p-progress-spinner ariaLabel="loading" /></div>
  <div>
  </div>
  <div class="messages">
    <div *ngFor="let msg of renderedMessages" class="message">
      <strong>{{ msg.sender }}:</strong>
      <label>
        <span style="white-space: pre-line;">
          {{ msg.text }}
        </span>

        <ng-container *ngIf="msg.mappable">
          <p-button class="btn btn-primary" (click)="mapIt(msg)">Map It!</p-button>
        </ng-container>
      </label>
    </div>
  </div>
  <div class="input-container">
    <p-button severity="secondary" pTooltip="Erase conversation" (click)="clear()">
      <fa-icon [icon]="icon"></fa-icon>
    </p-button>
    <input type="text" [(ngModel)]="message" placeholder="Type a message..." />
    <p-button class="btn btn-primary" (click)="sendMessage()">Send</p-button>
  </div>
</div>