<div class="chat-container">
    <div class="messages">
      <div *ngFor="let msg of messages" class="message">
        <strong>{{ msg.sender }}:</strong>
        <label>
          {{ msg.text.replace("#mappable", "") }}

          <ng-container *ngIf="msg.text.startsWith('#mappable')">
            <p-button class="btn btn-primary" (click)="mapIt(msg.text)">Map It!</p-button>
          </ng-container>
        </label>
      </div>
    </div>
    <div class="input-container">
      <input type="text" [(ngModel)]="message" placeholder="Type a message..." />
      <p-button class="btn btn-primary" (click)="sendMessage()">Send</p-button>
    </div>
  </div>
  