<div>
	<div id="panel-columns" class="horizontal-layout">
		<!-- Attribute Panel -->
		<attribute-panel *ngIf="selectedObject"></attribute-panel>

		<div id="aichat-column" class="vertical-layout">
			<div *ngIf="loading" class="spinner-overlay"><p-progress-spinner ariaLabel="loading" /></div>

			<aichat></aichat>

			<results-table *ngIf="selectedObject == null"></results-table>
			<div *ngIf="selectedObject" id="graphExplorerContainer">
				<graph-explorer #graphExplorer></graph-explorer>
			</div>
		</div>

		<!-- Map -->
		<div id="map"></div>
	</div>

	<!-- Legend -->
	<p-panel [toggleable]="true" header="Legend" collapsed="true" class="legend" *ngIf="orderedTypes.length > 0">
		<div  cdkDropList (cdkDropListDropped)="drop($event)">
			<div class="legend-item" *ngFor="let type of orderedTypes" cdkDrag>
				<ng-container *ngIf="typeLegend[type] as legend">
					<div class="square" [ngStyle]="{ background: legend.color }"></div>
					
					<label>{{ legend.label }}</label>
				</ng-container>
			</div>
		</div>
	</p-panel>

	<!--
		<div *ngIf="selectedObject" class="inspector">
			<h2 class="inspector-title">{{selectedObject.properties.label}}</h2>

			<div class="inspector-content">
				<label for="type">Type:</label>
				<span>{{selectedObject.properties.type}}</span>
				
				<label for="uri">URI:</label>
				<span
				*ngIf="getObjectUrl(selectedObject).indexOf('georegistry') !== -1">{{selectedObject.properties.uri}}</span>
				<a *ngIf="getObjectUrl(selectedObject).indexOf('georegistry') === -1" id="uri"
				[href]="getObjectUrl(selectedObject)">{{getUsaceUri(selectedObject)}}</a>
			</div>
		</div>
		-->
		
	<div>

	</div>

</div>