<div>
  <div id="panel-columns" class="horizontal-layout">
	<!-- Attribute Panel -->
	<!-- <attribute-panel *ngIf="selectedObject" [selectedObject]="selectedObject"></attribute-panel> -->
	
	<div id="aichat-column" class="vertical-layout">
		<aichat></aichat>

		<!-- Graph -->
		<div id="graphExplorerContainer"><graph-explorer #graphExplorer></graph-explorer></div>	
	</div>

	<!-- Map -->
	<div id="map"></div>
  </div>

  <!-- Legend -->
  <div class="legend" cdkDropList (cdkDropListDropped)="drop($event)">
	<div class="legend-item" *ngFor="let type of orderedTypes" cdkDrag>
	  <div class="square" [ngStyle]="{ background: typeLegend[type].color }"></div>
	  
	  <label>{{ typeLegend[type].label }}</label>
	</div>
  </div>

  <div *ngIf="selectedObject" class="inspector">
	<h2 class="inspector-title">{{selectedObject.properties.label}}</h2>

	<div class="inspector-content">
		<label for="type">Type:</label>
		<!-- <a id="type" [href]="selectedObject.properties.uri">{{selectedObject.properties.type}}</a> -->
		 <span>{{selectedObject.properties.type}}</span>

		<label for="uri">URI:</label>
		<span *ngIf="getObjectUrl(selectedObject).indexOf('georegistry') !== -1">{{selectedObject.properties.uri}}</span>
		<a *ngIf="getObjectUrl(selectedObject).indexOf('georegistry') === -1" id="uri" [href]="getObjectUrl(selectedObject)">{{getUsaceUri(selectedObject)}}</a>
	</div>
  </div>

  <div>

  </div>

</div>
